[Desktop Entry]
Type=Application
Name=Maxint
Icon=com.maxint.maxint
Exec=maxint %U
Categories=Office;Finance;Economy;
Keywords=finance;money management;budget;cash flow;personal finance;bank accounts;inflation;mint;
GenericName=Money Management App
X-Purism-FormFactor=Workstation;Mobile;
MimeType=x-scheme-handler/com.maxint.maxint;