[Desktop Entry]
Type=Application
Name=Maxint
Icon=com.maxint.maxint
Exec=maxint %U
Categories=Office;Finance;Economy;
Keywords=finance;money;budget;investing;portfolio;stocks;bills;tracking;net worth;planner;accounting;personal finance;
GenericName=Personal Finance Manager
X-Purism-FormFactor=Workstation;Mobile;
MimeType=x-scheme-handler/com.maxint.maxint;